<% include _header %>
<% include _header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		404 エラー
	</div>
	<div class="panel-body">
		<h1 class="text-center">ページが見つかりませんでした</h1>
	</div>
</div>
<% include _footer_index %>
<% include _footer %>

