<% include _header %>
<% include _header_index %>
<div class="panel panel-primary">
	<div class="panel-heading">
		Error <%= error.status %>
	</div>
	<div class="panel-body">
		<h1><%= message %></h1>
		<pre><%= error.stack %></pre>
	</div>
</div>
<% include _footer_index %>
<% include _footer %>

