	<!-- フッター -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					Copyright &copy; 香霖堂書店 All Rights Reserved.
				</div>
				<!--
				<div class="col-sm-4 inquiry text-center">
					<textarea class="inquiry-text form-control" name="body" placeholder="サービスへのご意見・ご要望をお寄せください" rows=2></textarea>
					<input class="inquiry-path" name="path_info" type="hidden" value="http://twitako.net/">
					<button class="btn btn-default inquiry-send" type="submit">意見を送信</button>
				</div>
				-->
			</div>
		</div>
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/u.js"></script>
</body>
</html>
