		</div>
		<div class="col-md-3 col-md-pull-9">
			<% if (isAuthenticated) { %>
			<div class="panel panel-primary">
				<div class="panel-heading">
					プロフィール
				</div>
				<div class="panel-body">
					<% if (mydata.profile.thumbnail) { %>
					<img src="/img/<%= mydata.profile.thumbnail %>" width="48" height="48" class="img-thumbnail" alt="プロフィール画像">
					<% } else { %>
					<img src="/img/noimage.gif" width="48" height="48" class="img-thumbnail" alt="プロフィール画像">
					<% } %>
					<%= mydata.profile.displayname %>
					<div class="text-right">
						<small><a href="/user/edit_top">プロフィールを編集</a></small>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					あなたの投稿件数
				</div>
				<div class="panel-body">
					<%= mydata.impression_num %>件
				</div>
			</div>
			<% } %>
			<div class="panel panel-primary">
				<div class="panel-heading">
					メニュー
				</div>
				<table class="table table-hover">
					<tbody>
						<% if(isAuthenticated) { %>
						<tr><td><a href="/doujin/register_top">感想を登録する</td></tr>
						<% } %>
						<tr><td><a href="/doujin/list">同人小説一覧</a></td></tr>
						<tr><td><a href="/impression/list">感想一覧</a></td></tr>
					</tbody>
				</table>
			</div>

			<% if (!isAuthenticated) { %>
			<div class="panel panel-primary">
				<div class="panel-heading">
					運営からのお知らせ
				</div>
				<div class="panel-body">
<a class="twitter-timeline" href="https://twitter.com/korindo_syoten" data-widget-id="665728204766711808">@korindo_syotenさんのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<% } %>

			<div class="panel panel-primary">
				<div class="panel-heading">
					ご意見・ご要望など
				</div>
				<div class="panel-body">
					<form action="/help/contact" method="POST" id="contact-form">
					<div class="form-group">
						<textarea class="form-control" name="text" rows="8" placeholder="サービスへのご意見・ご要望をお寄せください"></textarea>
					</div>
					<input type="submit" id="contact-submit" class="btn btn-success btn-block" value="送信">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
