<% if (typeof pagination !== 'undefined' && pagination.page_count > 1) { %>
<nav class="text-center">
	<ul class="pager">
		<% if (pagination.current_page > 0) { %>
		<li>
			<a href="<%= pagination.url %><%= pagination.current_page - 1 %>" aria-label="前へ"><span aria-hidden="true">&laquo;</span> 前のページへ</a>
		</li>
		<% } %>

		<% if (pagination.current_page + 1 < pagination.page_count) { %>
		<li>
			<a href="<%= pagination.url %><%= pagination.current_page + 1 %>" aria-label="次へ">次のページへ <span aria-hidden="true">&raquo;</span></a>
		</li>
		<% } %>
	</ul>
</nav>
<% } %>
