<!DOCTYPE html>
<html>
  <head>
    <title>東方香霖堂</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <h1>東方香霖堂</h1>
	  <p>東方香霖堂は東方Projectの<br />
		  二次創作小説の感想を投稿するためのサイトです。</p>

	  <p>感想数：<%= impression_num %></p>

		<a href="./auth/twitter">ツイッターアカウントでログイン</a>
  </body>
</html>
