<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-default">
	<div class="panel-heading">
		プロフィールの編集
	</div>
	<div class="panel-body">
		<form action="/user/edit" enctype="multipart/form-data" method="POST" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="displayname">ニックネーム</label>
				<div class="col-sm-10">
					<input type="text" name="displayname" class="form-control" id="displayname" value="<%= user.displayname %>">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="thumbnail">プロフィール画像</label>
				<div class="col-sm-10">
					<% if(user.thumbnail) { %>
					<img src="/img/<%= user.thumbnail %>" width="48" height="48" class="img-thumbnail" id="thumbnail" alt="プロフィール画像">
					<% } else { %>
					<img src="/img/noimage.gif" width="48" height="48" class="img-thumbnail" id="thumbnail" alt="プロフィール画像">
					<% } %>
					<input type="file" name="thumbnail"  accept="image/*">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="url">URL</label>
				<div class="col-sm-10">
					<input type="text" name="url" class="form-control" id="url" value="<%= user.url %>">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="introduction">自己紹介</label>
				<div class="col-sm-10">
					<textarea name="introduction" class="form-control" id="introduction" rows="5"><%= user.introduction %></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10 text-right">
					<button type="submit" class="btn btn-success">修正</button>
				</div>
			</div>
		</form>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>

