<!DOCTYPE html>
<html>
  <head>
    <title><%= user.displayname %>さんのプロフィール</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.displayname %>さんのプロフィール</h1>

  </body>
</html>
