<!DOCTYPE html>
<html>
  <head>
    <title>プロフィール編集</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <h1>プロフィール編集</h1>

	  <form action="<%= BASE_PATH %>user/do_edit" method="post">
			ニックネーム:<input type="text" name="displayname" value="<%= user.displayname %>"><br />
			<input type="submit" value="更新">
		</form>
  </body>
</html>
