<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-default">
	<div class="panel-heading">
		ヘルプ
	</div>
	<div class="panel-body">


	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
