<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-default">
	<div class="panel-heading">
		<%= title %>
	</div>
	<div class="panel-body">


	<% list.forEach(function(row){ %>
	同人誌タイトル：<a href="./doujinshi/<%= row.id %>"><%= row.title %></a><br />
		著者：<%= row.author %><br /><br />
	<% }) %>

	<form action="./doujinshi/register" method="post">
		同人誌タイトル:<input type="text" name="title"><br />
		著者:<input type="text" name="author"><br />
		<input type="submit" value="登録">
	</form>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
