<% include ../_header %>
<% include ../_header_index %>
<div class="panel panel-default">
	<div class="panel-heading">
		感想一覧
	</div>
	<div class="panel-body">
		<ul class="media-list">
		<% for(var i=0; i<5; i++) { %>
		<li class="media">
			<div class="media-left media-middle">
				<a href="/doujin/i/1"><img src="/img/noimage.gif" class="media-object img-thumbnail" alt="test"></a>
			</div>
			<div class="media-body">
				<div class="media-head">
					<div class="row">
						<div class="col-md-6">
							<strong><a href="/doujin/i/1">書籍名</a></strong><br />
						</div>
						<div class="col-md-6">
							著者
						</div>
					</div>
				</div>
				あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
		</li>
		<hr />
		<% } %>
		</ul>
		<nav>
			<ul class="pager">
				<li><a href=""><span aria-hidden="true">&larr;</span>前へ</a></li>
				<li><a href="/impression/list/1">次へ<span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>
	</div>
</div>
<% include ../_footer_index %>
<% include ../_footer %>
